_KS_backup_profiles.ini
hex2ascii
hex2ascii.exe
KISSlicer
!kisslicer/
generate-slic3r-bundle
generate-slic3r-bundle.exe
grid-show
grid-show.exe
PrusaSlicer_config_bundle.ini
stl2ascii
stl2ascii.exe
slic3r-to-files
slic3r-to-files.exe
config.o
group.o
utils.o
slic3r.ini
slic3r-bundle.ini
slic3r/timestamp.ini
slic3r/presets.ini
# Ignore all the ones we generate
slic3r/print:default - 0.1mm - 2 perimeters - 0.4mm.ini
slic3r/print:default - 0.1mm - 2 perimeters - 0.6mm.ini
slic3r/print:default - 0.1mm - 2 perimeters - 0.8mm.ini
slic3r/print:default - 0.2mm - 2 perimeters - 0.4mm.ini
slic3r/print:default - 0.2mm - 2 perimeters - 0.6mm.ini
slic3r/print:default - 0.2mm - 2 perimeters - 0.8mm.ini
slic3r/print:default - 0.3mm - 2 perimeters - 0.4mm.ini
slic3r/print:default - 0.3mm - 2 perimeters - 0.6mm.ini
slic3r/print:default - 0.3mm - 2 perimeters - 0.8mm.ini
slic3r/printer:Ender 5 - 0.4mm nozzle.ini
slic3r/printer:Ender 5 - 0.8mm nozzle.ini
slic3r/physical_printer:Ender 5 - 0.4mm.ini
slic3r/physical_printer:Ender 5 - 0.8mm.ini
slic3r/print:factory or climbing (0.4mm slow).ini
slic3r/print:factory or climbing (0.4mm).ini
slic3r/print:factory or climbing (0.6mm).ini
slic3r/print:factory or climbing (0.8mm).ini
slic3r/print:halloween - head (0.4mm).ini
slic3r/print:halloween - head (0.6mm).ini
